# Virtual environment
.venv/
venv/
__pycache__/

# Data files
data/
*.csv

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# ignore data and notebook checkpoints
data/
*.csv
.ipynb_checkpoints/
